.custom-navbar {
    color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.header-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: #333333;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn {
    display: inline-block;
    width: 50%; 
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.btn-outline-light {
    color: #333333;
    border: 2px solid #333333;
    background-color: transparent;
    transition: all 0.3s ease;
}

    .btn-outline-light:hover {
        background-color: white;
        color: #ff5733;
    }

.btn-success {
    background-color: #218838; 
    color: #fff;
}

    .btn-success:hover {
        background-color: #1e7e34; 
}

.btn-danger {
    background-color: #dc3545;
    color: white;
    transition: all 0.3s ease;
}

    .btn-danger:hover {
        background-color: #c82333;
    }

.logout-form {
    display: inline;
}

@media (min-width: 768px) {
    .custom-navbar {
        flex-wrap: nowrap; 
        justify-content: space-between; 
        padding: 10px 20px; 
    }

    .custom-container {
        flex-direction: row; 
    }

    .header-title {
        font-size: 1.5rem; 
        text-align: left; 
    }

    .button-container {
        justify-content: flex-end;
        gap: 10px; 
    }

    .btn {
        width: auto;
    }
}
