################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ILIS.Football.Assignment/.vs
/ILIS.Football.Assignment/ILIS.Football.Assignment/bin
/ILIS.Football.Assignment/ILIS.Football.Assignment/obj
/ILIS.Football.Assignment/ILIS.Football.Assignment.BL/obj
