<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Tech assignment." />
    <title>@ViewData["Title"] - ILIS.Football.Assignment</title>
    <script src="/_framework/aspnetcore-browser-refresh.js" defer></script>
    <style>       
        .container {
            width: 100%;
            padding: 0 16px;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    @await Html.PartialAsync("_Header")

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
